<div class="journal-section" id="journal-section-id-<%= id %>" tabindex="<%= id %>">
	<% if(perms?.write) { %>
	<form class="journal-form-up journal-control-button" action="/api/sectionUp" method="POST">
		<input type="hidden" name="id" value="<%= id %>">
		<input type="submit" value="👆" title="Move section up">
	</form>
	<form class="journal-form-down journal-control-button" action="/api/sectionDown" method="POST">
		<input type="hidden" name="id" value="<%= id %>">
		<input type="submit" value="👇" title="Move section down">
	</form>
	<% } %>
	<div class="journal-section-content">
		<div class="journal-section-content-html">
			<% if(section.date || section.title) { %>
				<% if(section.date && section.title) { %>
					<span class="titledate"><%= section.title + " - " + section.date %></span>
				<% } else if(section.date) { %>
					<span class="titledate"><%= section.date %></span>
				<% } else { %>
					<span class="titledate"><%= section.title %></span>
				<% } %>
			<% } %>
			<%- section.html %>
		</div>
		<% if(perms?.write) { %>
		<form id="<%= "update-form-" + id %>" class="journal-section-content-markdown" action="/api/updateSection" method="POST">
			<input type="hidden" name="id" value="<%= id %>">
			<input class="journal-section-content-markdown-title" type="text" name="title" placeholder="Title" value="<%= section.title %>">
			<input class="journal-section-content-markdown-date"type="text" name="date" placeholder="Date" value="<%= section.date %>">
			<textarea class="journal-section-content-editor" name="markdown"><%= section.markdown %></textarea>
			<input class="journal-section-content-markdown-submit" type="submit" value="Update">
		</form>
		<% } %>
	</div>
	<% if(perms?.write) { %>
	<button class="journal-control-button journal-button-edit" title="Edit section">✍️</button>
	<form class="journal-control-button journal-form-delete" action="/api/deleteSection" method="POST">
		<input type="hidden" name="id" value="<%= id %>">
		<input type="submit" value="❌" title="Delete section">
	</form>
	<% } %>
</div>
